.page-template-page-new {
  @media only screen and (min-width: 641px) {
    li.gfield {
      span.name_first,
      span.name_middle,
      span.name_last {
        input {
          margin-bottom: 0 !important;
        }
      }
    }
    .sidebar-form .gf_name_has_2 .name_first input {
      margin-bottom: 10px !important;
    }
    .gform_button {
      max-width: 325px;
    }
    .new-page-header {
      min-height: 20vw;
    }
  }
  @media (min-width: 768px) {
    .vc_col-sm-4.sidebar-white {
      border-left: 15px solid #eaeaea;
    }
  }
  @media (min-width: 960px) {
    .new-page-header {
      min-height: 20vw;
    }
    .vc_col-sm-4.sidebar-white {
      padding: 20px 5px;
    }
  }
  @media (min-width: 1025px) {
    .site-content {
      padding: 60px 15px !important;
      h2 {
        font-size: 34px;
      }
      ol, ul {
        font-size: 17px;
      }
      .wpb_text_column {
        font-size: 17px;
        h4 {
          font-size: 18px;
        }
      }
    }
    .grid-65 {
      width: 68%;
    }
    .grid-35 {
      width: 32%;
    }
  }
  @media (min-width: 1920px) {
    .new-page-header {
      min-height: 300px;
    }
  }
  @media (min-width: 960px) and (max-width: 1440px) {
    .ubermenu .ubermenu-target {
      padding: 15px 23px 15px 5px !important;
    }
  }
  @media (max-width: 959px) {
    .new-page-header {
      min-height: 25vw;
      h1 {
        font-size: 6vw;
        max-width: 50vw;
      }
    }
  }
  @media (max-width: 599px) {
    .new-page-header {
      min-height: 38vw;
      background-position: right 50%;
      position: relative;
      z-index: 1;
      h1 {
        position: relative;
        z-index: 3;
        line-height: 1;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#000, .5);
        z-index: 2;
      }
    }
    .gform_body {
      select,
      input {
        padding: 5px 10px !important;
        line-height: 1.5 !important;
      }
    }
  }
}