$pink: #c30079;
.vc_btn3-style-flat.vc_btn3-color-pink {
  background-color: $pink !important;
  text-transform: uppercase;
  &:hover {
    background: rgba($pink, .8);
  }
}
.gform_body {
  input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select {
    border-color: #fff;
    background-color: #fff;
    border-radius: 0;
  }
  .gfield_required {
    color: $pink !important;
  }
}
.gform_button {
  background: $pink !important;
  font-size: 13px !important;
  text-transform: uppercase !important;
  padding: 12px 20px !important;
  width: 100% !important;
  &:hover {
    background: rgba($pink, .8);
  }
}
.fsz-14 {
  font-size: 14px;
}
.page-template-page-new {
  background-color: #eaeaea !important;
  .ult_modal-body,
  .pum-container,
  #page {
    background-color: #eaeaea !important;
  }
  .site-content {
    padding: 30px 15px !important;
    max-width: 1141px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      color: #000000;
      font-weight: 400;
    }
    h3 {
      color: $pink;
      font-weight: 700;
    }
    .vc_separator {
      margin-bottom: 15px;
      .vc_sep_holder {
        background-color: #cccccc;
      }
    }
    ol {
      margin-left: 0;
      counter-reset: item;
      font-size: 15px;
      li {
        display: flex;
        margin-bottom: 1rem;
        &:before {
          content: counter(item) ". ";
          counter-increment: item;
          color: $pink;
          flex: 0 0 28px;
        }
      }
    }
    .wpb_text_column {
      font-size: 15px;
      h4 {
        font-weight: 700;
      }
    }
    li.gfield {
      margin-top: 7px !important;
    }
    .gfield_label {
      font-size: 15px !important;
    }
  }
  .new-page-header {
    min-height: 300px;
  }
  .lp-banner,
  .new-page-header {
    background-color: #000;
    background-position: center center;
    background-size: cover;
    padding: 0 7vw !important;
    display: flex;
    align-items: center;
    h1 {
      color: #fff;
      font-size: 4vw;
      font-family: Myriad Pro;
      margin-bottom: 0;
      max-width: 34vw;
      line-height: .8;
    }
  }
  .lp-banner {
    min-height: 697px;
    .wpb_text_column {
      margin: 1rem 0 0;
      p {
        font-size: 2vw;
        font-weight: 300;
        color: #333;
      }
    }
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.1;
    }
  }
  .vc_row.vc_column-gap-10 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .vc_tta-color-blue.vc_tta-style-classic {
    .vc_tta-panel {
      &.vc_active .vc_tta-panel-heading {
        border-color: #444444;
        background-color: #444444;
      }
      &.vc_active .vc_tta-panel-title > a {
        color: #fff !important;
      }
      .vc_tta-panel-heading {
        border-color: #5472d2;
        background-color: #5472d2;
      }
      + .vc_tta-panel .vc_tta-panel-heading {
        border-top-color: #fff;
      }
    }
    .vc_tta-panel-body {
      padding-left: 0;
      padding-right: 0;
      font-size: 14px;
    }
  }
  .btn-modal {
    background: $pink !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    padding: 12px 20px !important;
    width: 100% !important;
    border-radius: 0 !important;
    &:hover {
      background: rgba($pink, .8);
    }
  }
  .sidebar-white {
    background-color: #fff;
    padding: 20px 0;
    .wpb_content_element:last-child {
      margin-bottom: 0 !important;
    }
    .ult-modal-input-wrapper {
      margin-bottom: 0 !important;
    }
  }
  .accordion-text,
  .blue-text {
    color: #3a3a3a;
    font-weight: normal;
    text-align: left;
  }
  .wpb_text_column {
    ul {
      color: #5472d2;
      font-size: 15px;
      margin-left: 23px;
      li {
        margin-bottom: 10px;
        &::marker {
          font-size: 1.5em;
        }
      }
    }
    a {
      color: $pink;
      &:hover {
        color: rgba($pink, .8);
      }
    }
  }
  &.page-id-5832 .site-content {
    padding: 0 !important;
  }
}
.sidebar-wrp {
  padding: 20px;
  text-align: center;
  hr {
    margin: 20px 0;
  }
}
.sidebar-form {
  padding: 10px 20px 20px;
  color: #fff;
  background: #444444;
  .mb-05 {
    margin-bottom: 5px;
  }
  .mb-1 {
    margin-bottom: 10px;
    input, select {
      width: 100%;
      border-color: #fff;
    }
  }
  .gform_legacy_markup_wrapper {
    margin-top: 0;
  }
  .gform_wrapper {
    margin-bottom: 0 !important;
  }
  .gfield_label {
    font-size: 14px !important;
    display: block;
  }
  .gfield {
    margin-top: 0 !important;
    padding-right: 0 !important;
  }
  .ginput_container_name {
    > span {
      width: 100% !important;
      margin-bottom: 5px;
    }
    select,
    input {
      margin-bottom: 0 !important;
    }
  }
  .gform_footer {
    padding: 0 !important;
    //margin: 0 !important;
  }
  .gform_button {
    width: 100% !important;
  }
}
.ratio {
  position: relative;
  width: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}
.ratio-4x3 {
  --bs-aspect-ratio: 75%;
}
.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}
.vc_figure-caption {
  display: flex;
  min-height: 45px;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  color: #fff;
  background-color: $pink;
  text-transform: uppercase;
  font-size: 13px !important;
  margin-top: 0 !important;
}
/*fees*/
ul.fees-row {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  &:hover {
    background: #eee;
    color: #C30079;
    padding: 0 2px;
  }
  &:nth-child(odd) {
    background-color: #fff;
  }
  li {
    color: #444444;
    font-size: 15px;
    padding: 8px 2%;
  }
}
ul.fees-title {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #93abb9;
  font-size: 17px;
  overflow: hidden;
  color: #fff !important;
  border-bottom: 0 solid #666;
  li {
    padding: 10px 2%;
  }
}
ul.fees-row,
ul.fees-title {
  margin-left: 0 !important;
  li {
    margin-bottom: 0 !important;
    display: inline;
  }
  li.fees-from {
    float: left;
    width: 8%;
    text-align: right;
    font-size: 13px;
    line-height: 24px;
  }
  li.fees-item {
    float: left;
    width: 50%;
  }
  li.fees-price {
    float: right;
    width: 28%;
  }
}
.fsz-14 {
  font-size: 14px !important;
}
#gform_5 {
  .left_label input.large, .left_label select.large, .left_label textarea.medium {
    width: 100%;
  }
  div.ginput_container_name span.name_last {
    padding-right: 0 !important;
  }
}
.gform_legacy_markup {
  hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.home {
  .site-content {
    padding-bottom: 0 !important;
  }
  .sidebar-form {
    padding-bottom: 40px;
    .gform_wrapper {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    .ginput_container {
      margin-bottom: 5px;
    }
    .gfield_label {
      font-size: 17px !important;
    }
    .gform_button {
      display: none !important;
    }
    .description {
      text-align: center;
      padding-top: 10px;
      h4 {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 30px;
        max-width: 506px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          display: block;
          z-index: 1;
          left: 0;
          right: 0;
          top: 50%;
          height: 1px;
          background-color: #fff;
        }
        span {
          position: relative;
          z-index: 2;
          display: inline-block;
          padding: 0 15px;
          background-color: #444;
        }
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.home-row {
  .wpb_text_column {
    padding-top: 20px;
    margin-bottom: 20px !important;
  }
}
.home-logos {
  display: flex !important;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  .wpb_column {
    display: flex !important;
    align-items: center !important;
    text-align: center;
  }
  .vc_column-inner {
    padding-top: 0 !important;
  }
  .cqc-wrp {
    max-width: 506px;
    margin-left: auto !important;
  }
  #cqc {
    margin-bottom: 0 !important;
    max-width: none !important;
    .cqc-widget {
      background: none !important;
      text-align: center !important;
      border: 0 none !important;
    }
    .cqc-container {
      background: none !important;
      padding: 0 !important;
    }
    .cqc-widget-inner {
      > div {
        display: none !important;
      }
      .cqc-widget-footer {
        margin-top: 0 !important;
        display: block !important;
        a {
          font-family: Lato;
          border-radius: 0 !important;
          float: none !important;
          font-size: 13px !important;
          font-weight: 700 !important;
          margin-top: 5px !important;
          padding: 15px !important;
          text-decoration: none !important;
          text-transform: uppercase !important;
          display: block !important;
        }
      }
    }
  }
}
#gform20submit {
  img:hover {
    cursor: pointer;
  }
}
.sidebar .widget {
  background: none !important;
}
#custom_html-5 {
  h2 {
    margin-bottom: 0;
  }
  .desc {
    font-size: 20px;
    color: $pink;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
}
.page-id-4300 {
  .new-page-header h1:after {
    content: ' - present the real you ! ';
    font-size: .95em;
  }
  .ult-modal-input-wrapper {
    margin-bottom: 15px !important;
  }
}
.page-id-5832 {
  &.page-template-page-new {
    .site-content {
      max-width: 1360px;
    }
  }
}
.page {
  .lp-content-bg {
    min-height: 39vw;
    background-position: center !important;
    background-size: cover !important;
  }
}
.lp-content-bg,
.lp-content-img {
  .wpb_text_column {
    text-align: justify;
    max-width: 570px;
  }
}
.lp-content-img {
  .wpb_single_image {
    margin-bottom: 0;
  }
}
