$pink: #c30079;
.text-pink {
  color: $pink !important;
}
.vc_btn3-style-flat.vc_btn3-color-pink {
  background-color: $pink !important;
  text-transform: uppercase;
  &:hover {
    background: rgba($pink, .8);
  }
}
.gform_body {
  input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea, select {
    border-color: #fff;
    background-color: #fff;
    border-radius: 0 !important;
  }
  .gfield_required {
    color: $pink !important;
  }
}
.gform_button {
  background: $pink !important;
  font-size: 13px !important;
  text-transform: uppercase !important;
  padding: 12px 20px !important;
  width: 100% !important;
  &:hover {
    background: rgba($pink, .8);
  }
}
.fsz-14 {
  font-size: 14px;
}
.page-template-page-new {
  background-color: #eaeaea !important;
  .ult_modal-body,
  .pum-container,
  #page {
    background-color: #eaeaea !important;
  }
  .site-content {
    padding: 30px 15px !important;
    max-width: 1141px;
    margin-left: auto;
    margin-right: auto;
    h2 {
      color: #000000;
      font-weight: 400;
    }
    h3 {
      color: $pink;
      font-weight: 700;
    }
    .vc_separator {
      margin-bottom: 15px;
      .vc_sep_holder {
        background-color: #cccccc;
      }
    }
    ol {
      margin-left: 0;
      counter-reset: item;
      font-size: 15px;
      li {
        display: flex;
        margin-bottom: 1rem;
        &:before {
          content: counter(item) ". ";
          counter-increment: item;
          color: $pink;
          flex: 0 0 28px;
        }
      }
    }
    .wpb_text_column {
      font-size: 15px;
      h4 {
        font-weight: 700;
      }
    }
    li.gfield {
      margin-top: 7px !important;
    }
    .gfield_label {
      font-size: 15px !important;
    }
  }
  .new-page-header {
    min-height: 300px;
  }
  .lp-banner,
  .new-page-header {
    background-color: #000;
    background-position: center center;
    background-size: cover;
    padding: 0 7vw !important;
    display: flex;
    align-items: center;
    h1 {
      color: #fff;
      font-size: 4vw;
      font-family: Myriad Pro;
      margin-bottom: 0;
      max-width: 34vw;
      line-height: .8;
    }
  }
  .lp-banner {
    min-height: 697px;
    .wpb_text_column {
      margin: 1rem 0 0;
      p {
        font-size: 2vw;
        font-weight: 300;
        color: #fff;
      }
    }
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.1;
    }
  }
  .vc_row.vc_column-gap-10 {
    margin-left: -5px;
    margin-right: -5px;
  }
  .vc_tta-color-blue.vc_tta-style-classic {
    .vc_tta-panel {
      &.vc_active .vc_tta-panel-heading {
        border-color: #444444;
        background-color: #444444;
      }
      &.vc_active .vc_tta-panel-title > a {
        color: #fff !important;
      }
      .vc_tta-panel-heading {
        border-color: #5472d2;
        background-color: #5472d2;
      }
      + .vc_tta-panel .vc_tta-panel-heading {
        border-top-color: #fff;
      }
    }
    .vc_tta-panel-body {
      padding-left: 0;
      padding-right: 0;
      font-size: 14px;
    }
  }
  .btn-modal {
    background: $pink !important;
    font-size: 13px !important;
    text-transform: uppercase !important;
    padding: 12px 20px !important;
    width: 100% !important;
    border-radius: 0 !important;
    &:hover {
      background: rgba($pink, .8);
    }
  }
  .sidebar-white {
    background-color: #fff;
    padding: 20px 0;
    .wpb_content_element:last-child {
      margin-bottom: 0 !important;
    }
    .ult-modal-input-wrapper {
      margin-bottom: 0 !important;
    }
  }
  .accordion-text,
  .blue-text {
    color: #3a3a3a;
    font-weight: normal;
    text-align: left;
  }
  .wpb_text_column {
    ul {
      color: #5472d2;
      font-size: 15px;
      margin-left: 23px;
      li {
        margin-bottom: 10px;
        &::marker {
          font-size: 1.5em;
        }
      }
    }
    a {
      color: $pink;
      &:hover {
        color: rgba($pink, .8);
      }
    }
  }
  &.page-id-4297,
  &.page-id-4300,
  &.page-id-4303,
  &.page-id-14358,
  &.page-id-14368,
  &.page-id-14372,
  &.page-id-14363 {
    .site-content {
      padding: 0 !important;
    }
  }
}
.sidebar-wrp {
  padding: 20px;
  text-align: center;
  hr {
    margin: 20px 0;
  }
}
.sidebar-form {
  padding: 10px 20px 20px;
  color: #fff;
  background: #444444;
  .mb-05 {
    margin-bottom: 5px;
  }
  .mb-1 {
    margin-bottom: 10px;
    input, select {
      width: 100%;
      border-color: #fff;
    }
  }
  .gform_legacy_markup_wrapper {
    margin-top: 0;
  }
  .gform_wrapper {
    margin-bottom: 0 !important;
  }
  .gfield_label {
    font-size: 14px !important;
    display: block;
  }
  .gfield {
    margin-top: 0 !important;
    padding-right: 0 !important;
  }
  .ginput_container_name {
    > span {
      width: 100% !important;
      margin-bottom: 5px;
    }
    select,
    input {
      margin-bottom: 0 !important;
    }
  }
  .gform_footer {
    padding: 0 !important;
    //margin: 0 !important;
  }
  .gform_button {
    width: 100% !important;
  }
}
.ratio {
  position: relative;
  width: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}
.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ratio-1x1 {
  --bs-aspect-ratio: 100%;
}
.ratio-4x3 {
  --bs-aspect-ratio: 75%;
}
.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}
.vc_figure-caption {
  display: flex;
  min-height: 45px;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  color: #fff;
  background-color: $pink;
  text-transform: uppercase;
  font-size: 13px !important;
  margin-top: 0 !important;
}
/*fees*/
ul.fees-row {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  &:hover {
    background: #eee;
    color: #C30079;
    padding: 0 2px;
  }
  &:nth-child(odd) {
    background-color: #fff;
  }
  li {
    color: #444444;
    font-size: 15px;
    padding: 8px 2%;
  }
}
ul.fees-title {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
  background: #CECECF;
  font-size: 17px;
  overflow: hidden;
  color: #fff !important;
  border-bottom: 0 solid #666;
  li {
    padding: 10px 2%;
  }
}
ul.fees-row,
ul.fees-title {
  margin-left: 0 !important;
  li {
    margin-bottom: 0 !important;
    display: inline;
  }
  li.fees-from {
    float: left;
    width: 8%;
    text-align: right;
    font-size: 13px;
    line-height: 24px;
  }
  li.fees-item {
    float: left;
    width: 50%;
  }
  li.fees-price {
    float: right;
    width: 28%;
  }
}
.fsz-14 {
  font-size: 14px !important;
}
#gform_5 {
  .left_label input.large, .left_label select.large, .left_label textarea.medium {
    width: 100%;
  }
  div.ginput_container_name span.name_last {
    padding-right: 0 !important;
  }
}
.gform_legacy_markup {
  hr {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.home {
  .site-content {
    padding-bottom: 0 !important;
  }
  .sidebar-form {
    padding-bottom: 40px;
    .gform_wrapper {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
    .ginput_container {
      margin-bottom: 5px;
    }
    .gfield_label {
      font-size: 17px !important;
    }
    .description {
      text-align: center;
      padding-top: 10px;
      h4 {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 30px;
        max-width: 506px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          display: block;
          z-index: 1;
          left: 0;
          right: 0;
          top: 50%;
          height: 1px;
          background-color: #fff;
        }
        span {
          position: relative;
          z-index: 2;
          display: inline-block;
          padding: 0 15px;
          background-color: #444;
        }
      }
      p {
        font-size: 18px;
      }
    }
  }
}
.home-row {
  .wpb_text_column {
    padding-top: 20px;
    margin-bottom: 20px !important;
  }
}
.home-logos {
  display: flex !important;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 30px;
  .wpb_column {
    display: flex !important;
    align-items: center !important;
    text-align: center;
  }
  .vc_column-inner {
    padding-top: 0 !important;
  }
  .cqc-wrp {
    max-width: 506px;
    margin-left: auto !important;
  }
  #cqc {
    margin-bottom: 0 !important;
    max-width: none !important;
    .cqc-widget {
      background: none !important;
      text-align: center !important;
      border: 0 none !important;
    }
    .cqc-container {
      background: none !important;
      padding: 0 !important;
    }
    .cqc-widget-inner {
      > div {
        display: none !important;
      }
      .cqc-widget-footer {
        margin-top: 0 !important;
        display: block !important;
        a {
          font-family: Lato;
          border-radius: 0 !important;
          float: none !important;
          font-size: 13px !important;
          font-weight: 700 !important;
          margin-top: 5px !important;
          padding: 15px !important;
          text-decoration: none !important;
          text-transform: uppercase !important;
          display: block !important;
        }
      }
    }
  }
}
#gform20submit {
  img:hover {
    cursor: pointer;
  }
}
.sidebar .widget {
  background: none !important;
}
#custom_html-5 {
  h2 {
    margin-bottom: 0;
  }
  .desc {
    font-size: 20px;
    color: $pink;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.5rem;
  }
}
.page-id-4300 {
  .ult-modal-input-wrapper {
    margin-bottom: 15px !important;
  }
}
.page-id-4297,
.page-id-4300,
.page-id-4303,
.page-id-14358,
.page-id-14368,
.page-id-14372,
.page-id-14363 {
  &.page-template-page-new {
    .site-content {
      max-width: 1360px;
    }
  }
}
.page {
  .lp-content-bg {
    min-height: 39vw;
    background-position: center !important;
    background-size: cover !important;
  }
  .lp-content-img {
    background-position: center !important;
    background-size: cover !important;
  }
}
.lp-content-bg,
.lp-content-img {
  .wpb_text_column {
    text-align: justify;
    max-width: 570px;
  }
  .wpb_video_widget {
    max-width: 670px;
  }
}
.ahd-testimonial {
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 3px;
  padding: 1rem;
  .content {
    font-size: 15px;
    font-style: italic;
    p {
      margin-bottom: 20px;
    }
  }
  .top {
    display: flex;
    justify-content: space-between;
  }
}
.ahd-case-studies {
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 26px;
    line-height: 1.2;
    margin-bottom: .5rem;
  }
  .img {
    img {
      margin-bottom: .7rem;
    }
  }
  .case {
    font-size: 14px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
.page-id-4297 {
  .btn-modal {
    max-width: 300px;
  }
  #gform_9 .gform_button {
    max-width: 100%;
  }
  .vc_figure:hover {
    .vc_figure-caption {
      background-color: #444444;
    }
  }
}
.site-header {
  .top {
    padding: 12px 28px;
    color: #fff;
    background-color: #565657;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
  }
  .main {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content {
    display: flex;
    align-items: center;
    .info {
      font-size: 16px;
      line-height: 1.4;
      border-right: 1px solid #d7d7d7;
      padding-right: 20px;
      margin-right: 14px;
      strong {
        font-size: 15px;
        color: #585757;
      }
    }
    .phone {
      display: inline-block;
      padding-left: 1.5rem;
      background: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 405.333 405.333' fill='%23c30079'%3E%3Cpath d='M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752 c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64 C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32 c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z'/%3E%3C/svg%3E%0A") 0 50% /13px no-repeat;
    }
    .email {
      display: inline-block;
      padding-left: 1.5rem;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 75.3 75.3'%3E%3Cpath fill='%23C30079' d='M66,8H9.3c-5.1,0-9.2,4.4-9.2,9.9v35.2c0,5.5,4.1,9.9,9.2,9.9H66c5.1,0,9.2-4.4,9.2-9.9V17.9 C75.1,12.4,71,8,66,8z M61.5,15.6L37.6,31.1L13.8,15.6H61.5z M63.9,55.8H11.2c-1.6,0-3-1.5-3-3.3v-34l27.6,20c0,0,0.1,0,0.1,0.1 c0,0,0.1,0,0.1,0.1c0.2,0.1,0.4,0.2,0.7,0.3c0,0,0,0,0.1,0C37,39,37.3,39,37.5,39c0,0,0,0,0,0c0,0,0,0,0,0c0.3,0,0.5,0,0.7-0.1 c0,0,0,0,0.1,0c0.2-0.1,0.4-0.2,0.7-0.3c0,0,0.1,0,0.1-0.1c0,0,0.1,0,0.1-0.1l27.6-20v34C66.8,54.3,65.5,55.8,63.9,55.8z'/%3E%3C/svg%3E%0A") 0 80% /16px no-repeat;
    }
  }
  #searchform {
    padding: 0 20px;
    .input-group {
      border: 1px solid #cacbcc;
      border-radius: 3rem;
      overflow: hidden;
      display: inline-flex;
      align-items: center;
    }
    .field {
      max-width: 190px;
      border: 0 none;
      background: #fff;
      padding: 5px 15px 5px 25px;
      height: 38px;
      &:focus {
        box-shadow: none !important;
        outline: none !important;
      }
      &::placeholder {
        color: #757575;
      }
    }
    .btn {
      height: 38px;
      background: none;
      border: 0 none;
      padding: 8px 20px 2px;
      img {
        width: 20px;
      }
    }
  }
  .contact {
    a {
      display: inline-block;
      background-color: #036cb1;
      color: #fff;
      font-size: 13px;
      font-weight: 700;
      padding: 12px 25px;
      transition: all .2s ease;
      &:hover {
        background-color: $pink;
      }
    }
  }
  #top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding-left: 0;
    margin: 0;
    a {
      display: inline-block;
      color: #fff;
      font-size: 15px;
      font-weight: 700;
      padding-left: 30px;
      position: relative;
      line-height: 21px;
      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 23px;
        height: 21px;
        background-size: 23px 252px;
        background-position: 0 0;
        background-image: url(../img/topbar-sprite.png);
        background-repeat: no-repeat;
      }
      &:hover {
        opacity: .8;
      }
    }
    .sub-menu {
      a {
        font-weight: 400;
      }
    }
    .icon-02 a:before {
      background-position: 0 -21px;
    }
    .icon-03 a:before {
      background-position: 0 -42px;
    }
    .icon-04 a:before {
      background-position: 0 -63px;
    }
    .icon-05 a:before {
      background-position: 0 -84px;
    }
    .icon-06 a:before {
      background-position: 0 -105px;
    }
    .icon-11 a:before {
      background-position: 0 -231px;
    }
    .icon-07 a:before {
      background-position: 0 -126px;
    }
    .icon-08 a:before {
      background-position: 0 -147px;
    }
    .icon-09 a:before {
      background-position: 0 -168px;
    }
    .icon-10 a:before {
      background-position: 0 -189px;
    }
    .more a:before {
      background-position: 0 -210px;
    }
    .sub-menu {
      list-style: none;
      padding: 0;
      margin: 10px 0 0;
      display: flex;
    }
    li + li {
      margin-left: 1vw;
    }
    .icon-01 {
      flex-grow: 1;
    }
  }
}
.main-navigation {
  .inside-navigation {
    max-width: 1920px;
    padding: 0 28px;
    .ubermenu-items-align-center {
      text-align: left;
    }
  }
  .ubermenu-nav {
    > li > a {
      text-transform: uppercase !important;
      span {
        font-weight: 400 !important;
        font-size: 14px;
      }
    }
  }
}
.sidebar-form {
  #gform_wrapper_8 {
    .gform_heading {
      display: none !important;
    }
  }
}
.ahd-consent-form {
  display: flex;
  align-items: center;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  .heading {
    flex-grow: 1;
    padding: 0 15px;
  }
  h4 {
    margin: 0 auto;
    font-size: 20px;
    max-width: 250px;
    line-height: 1.2;
    color: #3a3a3a;
  }
  &:hover {
    h4 {
      font-weight: 700;
      span {
        border-bottom: 1px solid rgba(#3a3a3a, .6);
      }
    }
  }
}
.ul-black {
  strong {
    color: #000;
  }
  ul {
    li {
      margin-bottom: 0 !important;
      color: #000;
      font-size: 14px;
    }
    li::marker {
      font-size: 1em !important;
      color: #6e6f6f;
    }
  }
}
.parent-pageid-4645 {
  .new-page-header {
    background-image: url('https://www.antwerphousedentistry.co.uk/wp-content/uploads/Consent-Forms_01.jpg') !important;
  }
}
button.covid {
  background-color: #5472d2 !important;
  width: 260px;
}